---
title: Blog
layout: 'base.njk'
---
   
   <main>
        <div class="blog-header">
            <h1>Articulos</h1>
                <p>Articulos recientes</p>
          </div>
                <ul role="list" class="articles__list flow">
                    <li>
                    <article class="snippet">
             <h3 class="snippet__title"><a href="/posts/my-fifth-article/">My Fifth Article</a></h3>
             <p class="snippet__meta">by <span>Kevin Powell</span> on <span>Jun 14, 2021</span></p>
             <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
             <a href="/posts/my-fifth-article/" class="btn btn--blog">Continue Reading</a>
           </article>
                   </li><li>
                    <article class="snippet">
             <h3 class="snippet__title"><a href="/posts/my-fourth-article/">My Fourth Article</a></h3>
             <p class="snippet__meta">by <span>Kevin Powell</span> on <span>May 31, 2021</span></p>
             <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
             <a href="/posts/my-fourth-article/" class="btn btn--blog">Continue Reading</a>
           </article>
                   </li><li>
                    <article class="snippet">
             <h3 class="snippet__title"><a href="/posts/my-third-article/">My Third Article</a></h3>
             <p class="snippet__meta">by <span>Kevin Powell</span> on <span>May 27, 2021</span></p>
             <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
             <a href="/posts/my-third-article/" class="btn btn--blog">Continue Reading</a>
           </article>
                   </li><li>
                    <article class="snippet">
             <h3 class="snippet__title"><a href="/posts/my-second-article/">My Second Article</a></h3>
             <p class="snippet__meta">by <span>Kevin Powell</span> on <span>May 14, 2021</span></p>
             <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
             <a href="/posts/my-second-article/" class="btn btn--blog">Continue Reading</a>
           </article>
                   </li><li>
                    <article class="snippet">
             <h3 class="snippet__title"><a href="/posts/my-first-article/">My First Article</a></h3>
             <p class="snippet__meta">by <span>Kevin Powell</span> on <span>Apr 30, 2021</span></p>
             <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
             <a href="/posts/my-first-article/" class="btn btn--blog">Continue Reading</a>
           </article>
                   </li></ul>
        </main>
