---
title: Blog
layout: 'base.njk'
---
   
   <main>
        <div class="blog-header">
            <h1>Articulos</h1>
                <p>Articulos recientes</p>
        </div>
           <div class="blog-articles">
                <div class="blog-post">
                    <h1>post.data.title</h1> <!-- Display the full blog post title -->
                <p>Posted on post.date date("MMMM DD, YYYY") by post.data.author </p> <!-- Display date and author --> 
                <button id="blog-bttn"><a href="/posts/post-1/">leer mas</a></button>
                </div>

                <div class="blog-post">
                    <h1>post.data.title </h1> <!-- Display the full blog post title -->
                <p>Posted on  post.date  date"MMMM DD, YYYY"  by  post.data.author </p> <!-- Display date and author --> 
                <button id="blog-bttn"><a href="/posts/post-2/">leer mas</a></button>
                </div>
           </div>
        </main>
