---
title: Blog
layout: 'base.njk'
---

    <main>
        <div class="calender"><iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showCalendars=1&src=Z2lsMjAwMGNoQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe></div>
        
        <div class="schedule-calendario">
            <div id="header-calender">
                <h2>Reuniones Y Horario</h2>
            </div>
            <div id="text-calender">
                <ul>
                    <li id="domingo"><h3>Domingo</h3><p><br/>Cena De El Senor - 3:00pm-4:00pm<br/>Meditacion - 4:00pm-4:30pm<br/>Descano - 4:30pm-5:00pm<br/>Predica - 5:00pm-6:00pm</p></li>
                    <li id="miercoles"><h3>Miercoles</h3><p><br/>Culto de oracion - 8:00pm-9:00pm</p></li>
                    <li id="sabado"><h3>Sabado</h3><p><br/>Culto de Jovenes - 5:00pm-6:00pm<br/>Culto de Evangelio - 7:00pm-8:00pm</p></li>
                </ul>
            </div>
        </div>
        </main>
    
