---
title: Sintoniza en vivo
layout: 'base.njk'
---
<div id="live-title">
    <h1>Sintoniza en vivo</h1>
</div>

<!-- Add a placeholder for the Twitch embed -->
<div id="twitch-embed"></div>
<!-- Load the Twitch embed script -->
<script src="https://player.twitch.tv/js/embed/v1.js"></script>

<!-- Create a Twitch.Player object. This will render within the placeholder div -->
<script type="text/javascript">
  new Twitch.Player("twitch-embed", {
    channel: "salaevangelicaclt",
    parent: ["main--sala-evangelica-charlotte.netlify.app"],
    width: "1000px",
    height: "500px",
  });
</script>  

<div id="calender-text">
    <p>Conoce las próximas reuniones y cuando puedes sintonizar</p>
    <a href="/calendario/">Calendario</a>
</div>
