---
title: sample
layout: 'base.njk'
---
    <main>
      <div class="registration-title">
        <h1>Registracion de Campista</h1>
      </div> 
        <div class="registration-form">
                <h2>Campamento Juvenil 2024</h2>
            <form>
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                </div>
                <div class="form-group">
                    <label for="iglesia">Iglesia:</label>
                    <input type="email" class="form-control" id="email" placeholder="Iglesia">
                </div>
                <div class="form-group">
                    <label for="edad">Edad:</label>
                    <input type="edad" class="form-control" id="edad" placeholder="Ingrese su edad">
                </div>
        </div> 
        </main>
        